header{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:black;
    color: white;
    overflow: hidden;
    ;
}
h1{
    text-align: center;
    font-size: 1.8rem;
    float: left;
    margin-right: 1em;
    margin-left: 1em
}
h2{
    text-align: center;
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}
body{
    font-family:sans-serif ;
    background-color: wheat;
    color: purple;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
p{
    margin: 1em;
}
.summary{
    text-align: center;
}
#zen-summary p{
   line-height: 1.5;
    
}
abbr{
    font-family: small-caps;
}
.intro{
    height: 550px;
}
#design-archives{
    display: none;
    
}
li{
    list-style: none;
    margin-bottom: 1em;
    text-align: center;
}
footer{
    background-color: beige;
    color: black;
    margin: 4%;
}
footer a{
    border: 2px solid black;
    padding: 0.5em;
}
.page-wrapper {
    position: relative;
}
.explanation {
    width: 60%;
    margin-right: 35%;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #1f295c;
    padding-right: 2%;
}
.design-selection {
    position: absolute;
    left: 65%;
    bottom: 55%;
    padding: 2%;
}
a{
    color: red;
    font-weight: bold;
}
a:hover{
    background-color: aqua;
    color: black;
}
a:visited{
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.explanation p:first-of-type::first-letter{
    font-size: 300%;
    color: blue;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    float: left;
}
.design-selection{
    position: absolute;
    top: 22%;
    left: 65%;
}
.explanation{
    right: 70%;
}
.design-selection li{
    border-top: 1px solid black;

}
.design-selection li:last-child{
    border-bottom: 1px solid black;
}
